In [27]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [2]:
# Url to scrap form
url = ('https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_States_by_revenue')

# pulling/getting the data from the site
page = requests.get(url)

# extracting text from the page
soup = BeautifulSoup(page.text, 'html')

In [ ]:
# checking if worked
# print(soup)

In [15]:
# extracting only the desired table data 
# soup.find('table', class_='wikitable sortable') # can use this too
table = soup.find_all('table')[0]

In [20]:
# getting titles for the dataframe colums
titiles = table.find_all('th')

In [21]:
titiles

[<th>Rank
 </th>,
 <th>Name
 </th>,
 <th>Industry
 </th>,
 <th>Revenue <br/>(USD millions)
 </th>,
 <th>Revenue growth
 </th>,
 <th>Employees
 </th>,
 <th>Headquarters
 </th>]

In [25]:
df_titiles = [title.text.strip() for title in titiles]

In [26]:
df_titiles

['Rank',
 'Name',
 'Industry',
 'Revenue (USD millions)',
 'Revenue growth',
 'Employees',
 'Headquarters']

Creating a Pandas DataFrame

In [47]:
# creating column titles
df = pd.DataFrame(columns=df_titiles)
df

Empty DataFrame
Columns: [Rank, Name, Industry, Revenue (USD millions), Revenue growth, Employees, Headquarters]
Index: []

In [48]:
# getting row data
col_data = table.find_all('tr')

In [49]:
# for row in col_data[1:]: # Incase empty list at [0] causes error
for row in col_data[1:]:
    data = (row.find_all('td'))
    df_data = [d.text.strip() for d in data]
    # print(df_data)

    # input row data into dataframe
    length = len(df)
    df.loc[length] = df_data

In [50]:
df

,Rank,Name,Industry,Revenue (USD millions),Revenue growth,Employees,Headquarters
0,1,Walmart,Retail,"648,125",6.0%,"2,100,000","Bentonville, Arkansas"
1,2,Amazon,Retail and cloud computing,"574,785",11.9%,"1,525,000","Seattle, Washington"
2,3,Apple,Electronics industry,"383,482",-2.8%,"161,000","Cupertino, California"
3,4,UnitedHealth Group,Healthcare,"371,622",14.6%,"440,000","Minnetonka, Minnesota"
4,5,Berkshire Hathaway,Conglomerate,"364,482",20.7%,"396,500","Omaha, Nebraska"
...,...,...,...,...,...,...,...
95,96,TIAA,Financials,"45,735",11.8%,"16,023","New York City, New York"
96,97,CHS,Agriculture cooperative,"45,590",-4.6%,"10,609","Inver Grove Heights, Minnesota"
97,98,Bristol-Myers Squibb,Pharmaceutical industry,"45,006",-2.5%,"34,100","New York City, New York"
98,99,Dow Chemical Company,Chemical industry,"44,622",-21.6%,"35,900","Midland, Michigan"
99,100,Best Buy,Retail,"43,452",-6.1%,"85,000","Richfield, Minnesota"

Exporting dataframe to csv

In [ ]:
df.to_csv('USA largest companies Scrapped.csv', index=False) # doesnt export df index